body {
    margin: 0px;
}

.div {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
}

.color {
    box-sizing: border-box;
    align-self: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    padding: 0px;
    border: 5px transparent ;
}

.btnColor, .btnRandom, .btnEraser, .btnReset, .btnSize {
    background-color:cyan;
    min-height: 38px;
    min-width: auto;
    border-radius: 18px;
    border: 3px solid black;
    font-weight: 800;
    flex-basis: 38px;
}

.size {
    max-width: 40px;
    height: 30px;
    font-weight: 900;
    border-radius: 50%;
    text-align: center;
    border: 3px solid black;
}

.sizeLable {
    font-weight: 800;
    font-size: 20px;
}


.btnColor:active , .btnRandom:active , .btnEraser:active , .btnReset:active, .btnSize:active {
    background-color:blue;
}