body {
    margin: 0px;
}

.div {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div:hover{
    background-color: aqua;
}
