body {
    margin: 0px;
    background-color:#ededed;
}

.div {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.canvas {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:500px;
    max-width: 500px;
    max-height:500px;
    overflow: hidden;
    cursor: crosshair;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 250px;
    margin-top: 5%;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
}

.color {
    box-sizing: border-box;
    align-self: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    border: 5px transparent ;
}

.btnColor, .btnRandom, .btnEraser, .btnReset, .btnSize {
    background-color:cyan;
    min-height: 38px;
    min-width: auto;
    border-radius: 18px;
    border: 3px solid black;
    font-weight: 800;
    flex-basis: 38px;
    cursor: pointer;
}

.size {
    height: 30px;
    display: flex;
    cursor: grab;
}

.sizeLable {
    font-weight: 800;
    font-size: 20px;
}

.sizeValue {
    font-weight: 900;
    font-size: large;
}


.btnColor:active , .btnRandom:active , .btnEraser:active , .btnReset:active, .btnSize:active {
    background-color:blue;
}

.clr {
    display: flex;
    gap: 16px;
}

.header {
    font-family: sans-serif;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}

